@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-w-[100vw] min-h-[100vh] m-0 flex items-center justify-center bg-gray-950 relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.button-primary {
  @apply cursor-pointer border-1 border-gray-700 rounded-xl py-2 px-3 hover:bg-gray-900;
}

.button-secondary {
  @apply cursor-pointer bg-gray-800 rounded-xl py-2 px-3 hover:bg-gray-900;
}